
Carthage/

iOSKonbiniAutomation\.xcodeproj/project\.xcworkspace/xcuserdata/
iOSKonbiniAutomation\.xcodeproj/xcuserdata/

iOSKonbiniAutomationDemo\.xcworkspace/xcuserdata/
iOSAutomationDemoApp\.xcworkspace/xcuserdata/

iOSAutomationDemoApp/iOSAutomationDemoApp\.xcodeproj/xcuserdata/